head
  title Blog
  link(rel='stylesheet', href='/stylesheets/allposts_style.css')
body
  h1 Hi! #{name}
  h1 Welcome to Chat Room!
  hr
  div(class="dropdown" style="float:right")
    button(class="dropbtn") User
    div(class="dropdown-content" style="right:0")
      a(href="../posts/add")
        | Add a post
      - if(loggedin==false)
        br
        a(href="../users")
          | Login
        br
        a(href="../users/signup")
          | Sign Up
      - if(loggedin==true)
        br
        a(href="../users/logout")
          | Logout
  div(class:"search")
    form(method="post")
      | Search:
      input(type="text", id="id", name="id")
      br
      input(type="submit", name="submit", value="Search")
    hr
  div(class="posts")
    h2 Welcome! Use the "User" Tab on the Top Right Corner to Get Started!!
    p Welcome to this chat room! I am a resident of UCLA De Neve Dogwood 3, and I am the creator and administrator of this website. Be sure to avoid sexual, violent, and insulting languages. If you find any bugs, feel free to email me at maxpluez@163.com, or update it at https://github.com/maxpluez/aBlog. Have fun!!! Oh and btw, plz don't hack it :)
    hr
  div(class="posts")
    - var myobjs = objs
    - var un = currentUN
    - for(var i=0;i<myobjs.length&&i<20;i++)
      p= "Posted by: "+myobjs[i].username
      h3= myobjs[i].title
      p= myobjs[i].body
      br
      p(style="font-size:10px float:right")= "Posted on "+myobjs[i].date
      - if(myobjs[i].username==un)
       a(href="/posts/rm/"+myobjs[i]._id) Delete this post
      hr
