head
  title Blog
  link(rel='stylesheet', href='/stylesheets/allposts_style.css')
body
  h1 Hi! #{name}
  h1 Welcome to Max's Blog!
  hr
  div(class="dropdown" style="float:right")
    button(class="dropbtn") User
    div(class="dropdown-content" style="right:0")
      a(href="../posts/add")
        | Add a post
      br
      a(href="../posts/delete")
        | Delete a post
      br
      a(href="../users")
        | Login
      br
      a(href="../users/logout")
        | Logout
  div(class:"search")
    form(method="post")
      | Search Post by ID: 
      input(type="text", id="id", name="id", placeholder="Input ID..")
      br
      | Search Post by Username: 
      input(type="text", id="username", name="username", placeholder="Input Username..")
      br
      input(type="submit", name="submit", value="Search")
    hr
  div(class="posts")
    - var myobjs = objs
    - for(var i=0;i<myobjs.length;i++)
      h3= "Posted by: "+myobjs[i].username
      h3= myobjs[i].title
      p= myobjs[i].body
      br
      p(style="font-size:10px float:right")= "Posted on "+myobjs[i].date
      p= "Post ID: " + myobjs[i]._id
      hr
