head
  title Post
  link(rel='stylesheet', href='/stylesheets/allposts_style.css')
body
  -var postobj=obj
  h1= "Post " + postobj._id
  hr
  h2= "Posted by: "+postobj.username
  p= "on "+postobj.date
  hr
  h3= postobj.title
  p= postobj.body
  hr
  a(href="./")
    | Back
  br
  a(href="./rm/"+postobj._id)
    | Delete this post
